.content {
	position: relative;
}
.closeBtn {
	position: absolute;
	top: 0px;
	right: 20px;
	border: var(--border);
	border-radius: var(--border-radius);
	/* padding: 10px; */
	padding-top: 5px;
	/* padding-bottom: 5px; */
	height:50px;
	width: 50px;
}
.closeImg {
	width: 20px;
	height: 20px;
	opacity: 60%;
}

.formField {
    margin: 10px;
	width: 520px;
	padding-left: 10px;
	padding-right: 10px;
}
.add-name {
    width: 500px;
	padding-left: 10px;
	padding-right: 10px;
}
.add-description {
    height: 8.6em;
    width: 500px;
	resize: none;
    padding: 10px;
	font-family: var(--font-family);
	font-size: var(--font-size);
    outline-color: var(--bgc-main);
    background-color: var(--bgc-bgc);
    border: var(--border);
    border-radius: var(--border-radius);
}
.select-subject {
    width: 520px;
    height: 40px;
    border: var(--border);
    border-radius: var(--border-radius);
	position: relative;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.selected-subject {
    width: 520px;
    height: 40px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: var(--bgc-bgc);
	transition: 0.15s;
	border-radius: calc(var(--border-radius) - 3px);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.selected-subject:hover {
	background-color: var(--bgc-main2);
}
.select-options {
	position: absolute;
	left: -3px;
	z-index: 1;
	background-color: var(--bgc-main);
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;

	padding-left: 0px;
	margin: 0px;
}
.option {
	list-style-type: none;
	width: 520px;
	height: 20px;
	padding: 10px;
	padding-left: 0px;
	padding-right: 0px;
	border: var(--border);
	border-bottom: none;
	background-color: var(--bgc-bgc);
	transition: 0.15s;
	text-align: center;	
}
.option:hover {
	background-color: var(--bgc-main2);
}
.lastOption {
	border-bottom: var(--border);
	border-bottom-left-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

.postData {
	width: 526px;
	margin-left: 20px;
	padding: 10px;
}